.certifications-section{
    width: 100%;
    height: fit-content;
    animation: fadeInUp 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 4%;
    
}

.certifications-section h1{
    background-image: linear-gradient(to right,#62cff4,#2c67f2);
    background-clip: text;
    color: transparent;   
}

@keyframes slideToTop {
  0% {
    transform: translateY(200px);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
    transform: scale(1);
  }
}

.certificate{
    animation:slideToTop 0.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 4%;
}

.certificate :hover{
    transition: transform 0.5s ease-in-out;
   transform: scale(1.04);
}