    .scene {
        animation: fadeInUp 1s ease-out forwards;
        animation-timeline: view();
        animation-range: entry 0 cover 10%;
    }

    .skillheading{
    background-image: linear-gradient(to right,#62cff4,#2c67f2);
    background-clip: text;
    color: transparent;
}

@keyframes slideToRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}
@keyframes slideToLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}

div[data-side="right"]{
    animation:slideToRight 0.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

div[data-side="left"]{
    animation:slideToLeft 0.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}