@import "tailwindcss";
body{
  color: #DADADA;
  background-color: #121212;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  line-height: 1.75;
  letter-spacing: 0.7px;
  word-spacing: 1px;
}
p{
  line-height: 1.75;
  letter-spacing: 0.7px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
    filter: blur(6px);
  }
  60% {
    opacity: 0.8;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

