@keyframes aifloat{
0% { transform: translateY(0px);}
50% {transform: translateY(14px);}
100% {transform: translateY(0px);}
}
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


#hero-section div{
   
    background-image: linear-gradient(to right,#62cff4,#2c67f2);
    background-clip: text;
    animation: fadeInUp 1s ease-out forwards;
}

#hero-section div :nth-child(1){
  -webkit-text-stroke: transparent;
  -webkit-text-stroke-width: 3px;
  color: black;
  
}

#hero-section div .Ai{
    animation: aifloat 3s ease-in-out infinite;
    transition: all ease-in-out 0.7s;
}
#hero-section div .Ai:hover{
    scale: 1.11;
}

